.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 10px;
  }
  .large-text {
    font-size: 30px; /* Adjust the value as needed */
  }
  input[type="text"], input[type="password"] {
    font-size: 16px;
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
  }
  button {
    margin-top: 10px;
  }
  
  #buspass {
    display: none;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
  }
  .goback {
    position: absolute;
    top: 50px;
    left: 40px;
    font-size: 36px;
    padding: 30px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  .goback:hover {
    background-color: #3e8e41;
  }
  h1 {
    font-size: 36px; /* Change font size to your preference */
    font-weight: bold; /* Add bold font weight */
    text-align: center; /* Center the heading */
    margin-top: 20px; /* Add top margin */
    margin-bottom: 20px; /* Add bottom margin */
  }
  .bus-pass {
    background-color: rgb(255, 183, 0);
    color: black;
    width: 400px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .student, .leader, .program, .bus-stop {
    margin-bottom: 5px;
    text-align: left;
  }

  .bus-pass:fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
  }
  
  .bus-pass:fullscreen .title {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .bus-pass:fullscreen .student, 
  .bus-pass:fullscreen .leader, 
  .bus-pass:fullscreen .program, 
  .bus-pass:fullscreen .bus-stop {
    font-size: 24px;
    margin-bottom: 10px;
  }
  